.UserHeader {
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  border: crimson;
  color: white;
  font-size: 36px;
  text-transform: capitalize;
}

.Select {
  background: #1abc9c;
  position: relative;
  font-family: Arial;
  font-size: 24px;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  color: black;
}

.Select select {
  display: none; /*hide original SELECT element: */
}

.Button {
  background: #1abc9c;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  color: black;
}
